@media (max-width: 980px) {
    .flex-col-sm {
      flex-direction: column;
    }
  }
  

  .custom-chart {
    width: 450px !important; /* Adjust the width as needed */
    height: 450px !important; /* Adjust the height as needed */
  }