.Background1{
    --background: linear-gradient(0deg, rgba(0.9, 0.9, 0.9, 90.936), rgba(0, 5.9, 1, 0.36)), url(../Utils/AWS/about-us.jpg);
    --bg-image-opacity: 1;
    position: relative;
    isolation: isolate;
    width: 100%;

}

.Background1::after{
    content: '';
    opacity: var(--bg-image-opacity);
    background: var(--background);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    inset: 0;

}