.Services{
    --background: linear-gradient(0deg, rgba(0, 0, 0, 10.936), rgba(0, 0, 0, 0.36)), url(../Utils/AWS/raw/Services.jpg);
    --bg-image-opacity: 1;
    position: relative;
    isolation: isolate;
    width: 100%;

}

.Services::after{
    content: '';
    opacity: var(--bg-image-opacity);
    background: var(--background);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    inset: 0;

}