@media (max-width: 1585px) {
  .respo {
    right: 5px;
  }
}
@media (max-width: 1445px) {
  .respo {
    right: 0;
  }
}
@media (max-width: 1360px) {
  .cont {
    width: 60%;
  }
}
@media (max-width: 1157px) {
  .cont {
    width: 50%;
  }
}
.policy-input,
.policy-textarea {
  border-bottom: 1px solid black;
}
