
.New{
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../../Utils/AWS/raw/Policy.jpg);
    --bg-image-opacity: 0.9;
    position: relative;
    isolation: isolate;
    width: 100%;
    
}

.New::after{
    content: '';
    opacity: var(--bg-image-opacity);
    background: var(--background);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    inset: 0;

}

@media(max-width:600px){
    .Over{
        gap: 4rem;
    }
}