

.Back{
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Utils/AWS/raw/board.jpg);
    --background-opacity: .9;
    position: relative;
    isolation: isolate;
    border-bottom: 0.5rem solid #86CB92;
}

.Back::after{
    content: '';
    opacity: var(--background-opacity);
    background: var(--background);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    inset: 0;

}