@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 0;
} */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");

.JustAnotherHand {
  font-family: "Just Another Hand", cursive;
}

.RussoOne {
  font-family: "Russo One";
}

.Sansita {
  font-family: "Sansita";
}

.K2D{
  font-family: 'K2D', sans-serif;
}

.Poppins{
  font-family: 'Poppins', sans-serif;
}

.Inter{
  font-family: 'Inter', sans-serif;
}
.Laila{
  font-family: 'Laila', serif;
}

#close-arrow {
  transform: rotate(180deg);
}

.shadowSubscribe{
  box-shadow: 20px 10px 20px  #FB3F6C;
}
.shadowSubscribe2{
  box-shadow: 20px 10px 20px  #86CB92;
}
.shadowSubscribe3{
  box-shadow: 20px 10px 20px  #FFC73B;
}